body,
html {
    font-family: "Roboto", "Noto Snas JP", sans-serif;
    margin-bottom: 200px;
}

/* header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 7vh;
    align-items: center;
    background-color: white;
    z-index: 50;
}

.title {
    width: 100%;
    margin-inline: 30px;
    font-weight: bold;
}

.nav-container {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-inline: 30px;
    gap: 15px;
}

nav li :hover {
    text-decoration: underline;
}

/* FirstView */
.firstview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.firstview-container .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.firstview-container .typewriter {
    font-size: 50px;
    font-weight: 800;
    user-select: none;
    font-family: "Inconsolata";
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.firstview-container .cursor {
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 50px;
    animation: blink 1s step-start 1.5s infinite;
}

.firstview-container .maintext {
    display: flex;
    gap: 5px;
}

.firstview-container .down {
    font-size: 30px;
    color: black;
}

/* About */
.about-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 100px;
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile-icon {
    width: 200px;
    height: 200px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 2;
}

.profile-text .name {
    font-size: 25px;
    font-weight: 500;
    font-family: "Inconsolata";
}

/* fonts */
.noto-sans-jp-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.roboto-en {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}